<div id="article-banner">
  <h2>Links</h2>
  <p class="post-date">友情链接</p>
</div>
<main class="app-body project-app">
  <div class="card-container" id="all-project">
    <% if (site.data.links) { %>
      <% for (var i in site.data.links) { %>
      <section class="project-card">
        <a class="card-wrap" href="<%= site.data.links[i].link %>" target="_blank">
          <div class="card-header" data-name="<%= i %>" ></div>
          <h3 class="card-title"><%= i %></h3>
          <p class="card-description"><%- truncate(site.data.links[i].descr ,{length: 50} )%></p>
<!--          <div class="card-footer">-->
<!--            <span><i class="fa fa-star"></i></span>-->
<!--            <span><i class="fa fa-code-fork"></i></span>-->
<!--          </div>-->
      </a>
      </section>
      <% } %>
    <% } %>
  </div>
</main>

<script>
  (function () {
    var url = '<%= config.url %>/<%= page.path %>'
    $('#article-banner').geopattern(url)
    $('.header').removeClass('fixed-header')
    $('.card-header').each(function () {
        var name = $(this).data('name');
        $(this).geopattern(name)
    })

  })();
</script>
